Repository sharpbrick/powered-up, pull requests merged in 2020-12, with the labels that each got.

#129 Improve CLI experience
  README.md
  src/SharpBrick.PoweredUp.Cli/Program.cs
Labels: area-cli, enhancement

#89 Add LinearSpeedChange
  examples/SharpBrick.PoweredUp.Examples/ExampleRampUp.cs
  examples/SharpBrick.PoweredUp.Examples/Program.cs
  src/SharpBrick.PoweredUp/Functions/IterativeChange.cs
  src/SharpBrick.PoweredUp/Functions/LinearSpeedChange.cs
  src/SharpBrick.PoweredUp/IServiceCollectionExtensions.cs
Labels: area-device-motor, enhancement

#128 Add TechnicColorSensor
  examples/SharpBrick.PoweredUp.Examples/ExampleTechnicColorSensor.cs
  examples/SharpBrick.PoweredUp.Examples/Program.cs
  src/SharpBrick.PoweredUp/Devices/DeviceFactory.cs
  src/SharpBrick.PoweredUp/Devices/TechnicColorSensor.cs
  src/SharpBrick.PoweredUp/Enums/TechnicColor.cs
Labels: area-devices, enhancement

#127 Add TechnicDistanceSensor
  examples/SharpBrick.PoweredUp.Examples/ExampleTechnicDistanceSensor.cs
  examples/SharpBrick.PoweredUp.Examples/Program.cs
  src/SharpBrick.PoweredUp/Devices/DeviceFactory.cs
  src/SharpBrick.PoweredUp/Devices/MarioHubPants.cs
  src/SharpBrick.PoweredUp/Devices/TechnicDistanceSensor.cs
  src/SharpBrick.PoweredUp/Enums/SystemType.cs
Labels: area-devices, enhancement

#130 Add Technic Color and Distance Sensor to README
  README.md
Labels: documentation

#132 Remove GPR from Build Pipeline
  .github/workflows/build-release.yml
Labels: enhancement

#134 Add MoveHub Support with Internal Motor and Tilt Sensor
  examples/SharpBrick.PoweredUp.Examples/ExampleMoveHubColors.cs
  examples/SharpBrick.PoweredUp.Examples/ExampleMoveHubExternalMediumLinearMotorControl.cs
  examples/SharpBrick.PoweredUp.Examples/ExampleMoveHubInternalTachoMotorControl.cs
  examples/SharpBrick.PoweredUp.Examples/ExampleMoveHubTiltSensor.cs
  examples/SharpBrick.PoweredUp.Examples/Program.cs
  src/SharpBrick.PoweredUp/Devices/Current.cs
  src/SharpBrick.PoweredUp/Devices/DeviceFactory.cs
  src/SharpBrick.PoweredUp/Devices/MoveHubInternalMotor.cs
  src/SharpBrick.PoweredUp/Devices/MoveHubTiltSensor.cs
  src/SharpBrick.PoweredUp/Devices/RgbLight.cs
  src/SharpBrick.PoweredUp/Devices/Voltage.cs
  src/SharpBrick.PoweredUp/Enums/DeviceType.cs
  src/SharpBrick.PoweredUp/Enums/MoveHubTiltFactoryOrientation.cs
  src/SharpBrick.PoweredUp/Enums/MoveHubTiltOrientation.cs
  src/SharpBrick.PoweredUp/Enums/MoveHubTiltSimpleOrientation.cs
  src/SharpBrick.PoweredUp/Enums/SystemType.cs
  src/SharpBrick.PoweredUp/Hubs/Hub.cs
  src/SharpBrick.PoweredUp/Hubs/HubFactory.cs
  src/SharpBrick.PoweredUp/Hubs/Hub_Ports.cs
  src/SharpBrick.PoweredUp/Hubs/MoveHub.cs
  src/SharpBrick.PoweredUp/IServiceCollectionExtensions.cs
Labels: area-device-hubdevices, area-hubs, enhancement

#135 Add Contributions and Devices to README
  README.md
Labels: documentation
