Repository sharpbrick/powered-up, pull requests merged in 2020-10, with the labels that each got.

#92 Add System Type and ManufacturerData entries for Mario
  src/SharpBrick.PoweredUp/Bluetooth/PoweredUpHubManufacturerData.cs
  src/SharpBrick.PoweredUp/Enums/SystemType.cs
Labels: area-hubs, enhancement

#99 Add known SystemType to LegoWirelessProtocol
  src/SharpBrick.PoweredUp/Devices/Current.cs
  src/SharpBrick.PoweredUp/Devices/DynamicDevice.cs
  src/SharpBrick.PoweredUp/Devices/IPoweredUpDevice.cs
  src/SharpBrick.PoweredUp/Devices/RgbLight.cs
  src/SharpBrick.PoweredUp/Devices/TechnicLargeLinearMotor.cs
  src/SharpBrick.PoweredUp/Devices/TechnicMediumHubAccelerometer.cs
  src/SharpBrick.PoweredUp/Devices/TechnicMediumHubGestSensor.cs
  src/SharpBrick.PoweredUp/Devices/TechnicMediumHubGyroSensor.cs
  src/SharpBrick.PoweredUp/Devices/TechnicMediumHubTemperatureSensor.cs
  src/SharpBrick.PoweredUp/Devices/TechnicMediumHubTiltSensor.cs
  src/SharpBrick.PoweredUp/Devices/TechnicXLargeLinearMotor.cs
  src/SharpBrick.PoweredUp/Devices/Voltage.cs
  src/SharpBrick.PoweredUp/Hubs/Hub.cs
  src/SharpBrick.PoweredUp/Hubs/TechnicMediumHub.cs
  src/SharpBrick.PoweredUp/Protocol/ILegoWirelessProtocol.cs
  src/SharpBrick.PoweredUp/Protocol/Knowledge/KnowledgeManager.cs
  src/SharpBrick.PoweredUp/Protocol/LegoWirelessProtocol.cs
  test/SharpBrick.PoweredUp.Test/Devices/VoltageTest.cs
Labels: area-device-hubdevices, area-devices, enhancement

#100 Fix initialization of protocol in CLI
  src/SharpBrick.PoweredUp.Cli/Commands/DevicesList.cs
  src/SharpBrick.PoweredUp.Cli/Commands/DumpStaticPortInfo.cs
  src/SharpBrick.PoweredUp.Cli/Program.cs
Labels: area-device-hubdevices, area-devices, bug

#97 Add TwoPortHub
  README.md
  src/SharpBrick.PoweredUp/Devices/Current.cs
  src/SharpBrick.PoweredUp/Devices/RgbLight.cs
  src/SharpBrick.PoweredUp/Devices/Voltage.cs
  src/SharpBrick.PoweredUp/Hubs/HubFactory.cs
  src/SharpBrick.PoweredUp/Hubs/TwoPortHub.cs
  src/SharpBrick.PoweredUp/IServiceCollectionExtensions.cs
Labels: area-device-hubdevices, area-hubs, enhancement

#105 Feature/add medium linear motor
  examples/SharpBrick.PoweredUp.Examples/ExampleTwoPortHubMediumLinearMotor.cs
  src/SharpBrick.PoweredUp/Devices/DeviceFactory.cs
  src/SharpBrick.PoweredUp/Devices/MediumLinearMotor.cs
  src/SharpBrick.PoweredUp/Enums/DeviceType.cs
Labels: area-device-motor, area-devices, enhancement

#107 add SystemTrainMotor
  src/SharpBrick.PoweredUp/Devices/DeviceFactory.cs
  src/SharpBrick.PoweredUp/Devices/SystemTrainMotor.cs
Labels: area-device-motor, enhancement

#108 Add TechnicLargeAngularMotor (Grey)
  README.md
  src/SharpBrick.PoweredUp/Devices/DeviceFactory.cs
  src/SharpBrick.PoweredUp/Devices/TechnicLargeAngularMotorGrey.cs
  src/SharpBrick.PoweredUp/Enums/DeviceType.cs
Labels: area-device-motor, enhancement

#116 Bluetooth api changes
  src/SharpBrick.PoweredUp.Cli/Program.cs
  src/SharpBrick.PoweredUp.WinRT/WinRTPoweredUpBluetoothAdapter.cs
  src/SharpBrick.PoweredUp/Bluetooth/IPoweredUpBluetoothAdapter.cs
  src/SharpBrick.PoweredUp/PoweredUpHost.cs
  test/SharpBrick.PoweredUp.Test/Bluetooth/PoweredUpBluetoothAdapterMock.cs
Labels: area-bt-linux, area-bt-winrt, enhancement

#121 Add known HubProperties
  src/SharpBrick.PoweredUp/Hubs/Hub.cs
  src/SharpBrick.PoweredUp/Hubs/Hub_Properties.cs
  src/SharpBrick.PoweredUp/Hubs/TechnicMediumHub.cs
  src/SharpBrick.PoweredUp/Hubs/TwoPortHub.cs
Labels: area-hubs, enhancement

#115 Add CLI utility to convert a hex-dump to a pretty-printed version
  .vscode/launch.json
  src/SharpBrick.PoweredUp.Cli/Commands/DevicesList.cs
  src/SharpBrick.PoweredUp.Cli/Commands/DumpStaticPortInfo.cs
  src/SharpBrick.PoweredUp.Cli/Commands/PrettyPrint.cs
  src/SharpBrick.PoweredUp.Cli/Program.cs
  src/SharpBrick.PoweredUp/Bluetooth/Mock/PoweredUpBluetoothAdapterMock.cs
  src/SharpBrick.PoweredUp/Bluetooth/Mock/PoweredUpBluetoothCharacteristicMock.cs
  src/SharpBrick.PoweredUp/Bluetooth/Mock/PoweredUpBluetoothDeviceMock.cs
  src/SharpBrick.PoweredUp/Bluetooth/Mock/PoweredUpBluetoothServiceMock.cs
  src/SharpBrick.PoweredUp/Bluetooth/Mock/ServiceCollectionExtensionsForMock.cs
  src/SharpBrick.PoweredUp/Protocol/Formatter/HubAttachedIOEncoder.cs
  src/SharpBrick.PoweredUp/Protocol/Formatter/HubPropertiesEncoder.cs
  src/SharpBrick.PoweredUp/Protocol/Knowledge/KnowledgeManager.cs
  src/SharpBrick.PoweredUp/Protocol/Knowledge/PortInfo.cs
  test/SharpBrick.PoweredUp.Test/Bluetooth/PoweredUpBluetoothAdapterMock.cs
  test/SharpBrick.PoweredUp.Test/Devices/VoltageTest.cs
Labels: area-cli, enhancement

#110 add Technic Medium Angular Motor Grey (mindstorms set 51515)
  README.md
  examples/SharpBrick.PoweredUp.Examples/ExampleTechnicMediumAngularMotorGrey.cs
  examples/SharpBrick.PoweredUp.Examples/Program.cs
  src/SharpBrick.PoweredUp/Devices/AbsoluteMotor.cs
  src/SharpBrick.PoweredUp/Devices/DeviceFactory.cs
  src/SharpBrick.PoweredUp/Devices/TechnicMediumAngularMotorGrey.cs
Labels: area-device-motor, enhancement

#119 Add TwoPortHandset
  README.md
  examples/SharpBrick.PoweredUp.Examples/ExampleRemoteControlButton.cs
  examples/SharpBrick.PoweredUp.Examples/ExampleRemoteControlRssi.cs
  examples/SharpBrick.PoweredUp.Examples/Program.cs
  src/SharpBrick.PoweredUp/Devices/DeviceFactory.cs
  src/SharpBrick.PoweredUp/Devices/RemoteControlButton.cs
  src/SharpBrick.PoweredUp/Devices/RemoteControlRssi.cs
  src/SharpBrick.PoweredUp/Devices/RgbLight.cs
  src/SharpBrick.PoweredUp/Devices/Voltage.cs
  src/SharpBrick.PoweredUp/Hubs/HubFactory.cs
  src/SharpBrick.PoweredUp/Hubs/TwoPortHandset.cs
  src/SharpBrick.PoweredUp/IServiceCollectionExtensions.cs
Labels: area-hubs, enhancement

#122 Improve human readable formatting of port info
  src/SharpBrick.PoweredUp.Cli/Commands/DevicesList.cs
Labels: area-cli, enhancement
