Repository sharpbrick/powered-up, pull requests merged in 2021-03, with the labels that each got.

#138 .NET 5 / WinRT Port
  .github/workflows/build-ci.yml
  .github/workflows/build-release.yml
  README.md
  examples/SharpBrick.PoweredUp.Examples/SharpBrick.PoweredUp.Examples.csproj
  src/SharpBrick.PoweredUp.Cli/SharpBrick.PoweredUp.Cli.csproj
  src/SharpBrick.PoweredUp.WinRT/SharpBrick.PoweredUp.WinRT.csproj
  src/SharpBrick.PoweredUp/SharpBrick.PoweredUp.csproj
  test/SharpBrick.PoweredUp.Test/SharpBrick.PoweredUp.Test.csproj
Labels: area-bt-winrt, enhancement

#143 Serialize Hub Property Queries in Hub Startup
  src/SharpBrick.PoweredUp/Hubs/Hub_Properties.cs
Labels: area-hubs, enhancement

#144 Move GotoPositionAsync to TachoMotor
  src/SharpBrick.PoweredUp/Devices/AbsoluteMotor.cs
  src/SharpBrick.PoweredUp/Devices/TachoMotor.cs
Labels: area-device-motor, enhancement

#141 Add Color&Distance Sensor (#88007) as a Device
  README.md
  examples/SharpBrick.PoweredUp.Examples/ExampleColorDistanceSensor.cs
  examples/SharpBrick.PoweredUp.Examples/Program.cs
  src/SharpBrick.PoweredUp/Devices/ColorDistanceSensor.cs
  src/SharpBrick.PoweredUp/Devices/DeviceFactory.cs
Labels: area-devices, enhancement

#147 Add Thank You Notes
  README.md
Labels: documentation

#146 Xamarin Bluetooth Stack (and Adjustment)
  powered-up.sln
  src/SharpBrick.PoweredUp.Mobile/INativeDeviceInfoProvider.cs
  src/SharpBrick.PoweredUp.Mobile/IServiceCollectionExtensionsForXamarin.cs
  src/SharpBrick.PoweredUp.Mobile/NativeDeviceInfo.cs
  src/SharpBrick.PoweredUp.Mobile/SharpBrick.PoweredUp.Mobile.csproj
  src/SharpBrick.PoweredUp.Mobile/XamarinPoweredUpBluetoothAdapter.cs
  src/SharpBrick.PoweredUp.Mobile/XamarinPoweredUpBluetoothCharacteristic.cs
  src/SharpBrick.PoweredUp.Mobile/XamarinPoweredUpBluetoothDevice.cs
  src/SharpBrick.PoweredUp.Mobile/XamarinPoweredUpBluetoothService.cs
  src/SharpBrick.PoweredUp/CompilerService.cs
  src/SharpBrick.PoweredUp/SharpBrick.PoweredUp.csproj
Labels: area-bt-xamarin, enhancement

#153 Thank You
  README.md
Labels: documentation

#152 Refactor DiscoverPort to procedural awaitable code
  src/SharpBrick.PoweredUp/Functions/DiscoverPorts.cs
Labels: area-bt-bluegiga, area-cli, area-functions, enhancement

#145 BlueGiga Bluetooth Stack
  .gitignore
  README.md
  examples/SharpBrick.PoweredUp.Examples/BaseExample.cs
  examples/SharpBrick.PoweredUp.Examples/ExampleTwoHubsMotorControl.cs
  examples/SharpBrick.PoweredUp.Examples/Program.cs
  examples/SharpBrick.PoweredUp.Examples/SharpBrick.PoweredUp.Examples.csproj
  powered-up.sln
  src/SharpBrick.PoweredUp.BlueGigaBLE/BlueGigaBLEHelper.cs
  src/SharpBrick.PoweredUp.BlueGigaBLE/BlueGigaBLEOptions.cs
  src/SharpBrick.PoweredUp.BlueGigaBLE/BlueGigaBLEPoweredUpBluetoothAdapater.cs
  src/SharpBrick.PoweredUp.BlueGigaBLE/BlueGigaBLEPoweredUpBluetoothCharacteristic.cs
  src/SharpBrick.PoweredUp.BlueGigaBLE/BlueGigaBLEPoweredUpBluetoothDevice.cs
  src/SharpBrick.PoweredUp.BlueGigaBLE/BlueGigaBLEPoweredUpBluetoothService.cs
  src/SharpBrick.PoweredUp.BlueGigaBLE/IBlueGigaLogger.cs
  src/SharpBrick.PoweredUp.BlueGigaBLE/ServiceCollectionExtensionsForBlueGigaBLE.cs
  src/SharpBrick.PoweredUp.BlueGigaBLE/SharpBrick.PoweredUp.BlueGigaBLE.csproj
  src/SharpBrick.PoweredUp.Cli/Commands/DumpStaticPortInfo.cs
  src/SharpBrick.PoweredUp.Cli/Program.cs
  src/SharpBrick.PoweredUp.Cli/SharpBrick.PoweredUp.Cli.csproj
  src/SharpBrick.PoweredUp/Functions/DiscoverPorts.cs
  src/SharpBrick.PoweredUp/Hubs/Hub_Properties.cs
Labels: area-bt-bluegiga, enhancement
